name: pre-commit

on:
  push:
  workflow_call:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - uses: pre-commit/action@v3.0.1
