name: tests

on:
  push:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/test.yaml'
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: pip

      - name: Install dependencies
        working-directory: ./
        run: |
          pip install -e .[dev]

      - name: Run tests
        working-directory: ./
        run: pytest --junitxml=junit/test-results.xml --cov-report=term-missing --cov-report=xml -v

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
        if: ${{ always() }}

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.xml
        if: ${{ always() }}
